.container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh ;
  background: #00cec9;
  color: white;
}
.items{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}